@mixin history-chart {
  .history-annotations {
    .label {
      fill: rgba(255, 255, 255, 0.5);
      font-size: 11px;
      font-weight: 600;
      text-anchor: middle;
    }

    .label.version {
      fill: #f1c578;
    }

    .label.patch {
      fill: #b6cde6;
    }

    .label.value-outside-bounds {
      visibility: visible;
    }
  }

  .history-annotation-ticks {
    .tick {
      stroke: currentColor;
      stroke-width: 1;
      stroke-opacity: 0.35;
      pointer-events: none;
    }

    .tick-level.version {
      color: #f1c578;
    }

    .tick-level.patch {
      color: #b6cde6;
    }

    .tick-level.micropatch {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .history-line {
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    transition: stroke-width 0.18s ease;

    &.highlighted {
      stroke-width: 3px;
    }
  }

  .interaction {
    .history-hover-marker {
      fill: currentColor;
    }
  }

  .grid {
    opacity: 0.2;

    .y-ticks .tick {
      stroke: rgb(255, 255, 255, 0.5);
    }

    .tick {
      stroke: rgb(255, 255, 255, 0.04);
    }

    .label-ticks {
      &.day-ticks .tick {
        stroke: rgb(255, 255, 255, 0.15);
      }

      &.week-ticks .tick {
        stroke: rgb(255, 255, 255, 0.15);
      }

      &.month-ticks .tick {
        stroke: rgb(255, 255, 255, 0.4);
      }

      &.year-ticks .tick {
        stroke: rgb(255, 255, 255, 1);
      }
    }
  }

  &.with-annotations .grid {
    opacity: 0.1;
  }

  .label {
    font-size: 11px;
    font-weight: bold;
    fill: rgba(255, 255, 255, 0.9);

    &.value-outside-bounds {
      visibility: hidden;
    }
  }

  .day-labels .label {
    font-weight: normal;
  }

  .interactive-zone {
    cursor: crosshair;
  }
}
