@mixin history-chart {
  .history-line {
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    transition: stroke-width 0.18s ease;

    &.highlighted {
      stroke-width: 3px;
    }
  }

  .interaction {
    .history-hover-marker {
      fill: currentColor;
    }
  }

  .grid {
    opacity: 0.2;

    .y-ticks .tick {
      stroke: rgb(255, 255, 255, 0.5);
    }

    .tick {
      stroke: rgb(255, 255, 255, 0.04);
    }

    .label-ticks {
      &.day-ticks .tick {
        stroke: rgb(255, 255, 255, 0.15);
      }

      &.week-ticks .tick {
        stroke: rgb(255, 255, 255, 0.15);
      }

      &.month-ticks .tick {
        stroke: rgb(255, 255, 255, 0.4);
      }

      &.year-ticks .tick {
        stroke: rgb(255, 255, 255, 1);
      }
    }
  }

  .label {
    font-size: 11px;
    font-weight: bold;
    fill: rgba(255, 255, 255, 0.9);

    &.value-outside-bounds {
      visibility: hidden;
    }
  }

  .day-labels .label {
    font-weight: normal;
  }

  .interactive-zone {
    cursor: crosshair;
  }
}
