.abs-full {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

p {
	padding: 0;
	margin: 0;
}

.overflow-auto {
	overflow: auto;
}

.overflow-y-auto {
	overflow-y: auto;
}

.overflow-x-auto {
	overflow-x: auto;
}

.pointer {
	cursor: pointer;
}

.skip-events {
	pointer-events: none;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

@each $size in (1, 5, 10) {
	.z-#{$size} {
		z-index: $size;
	}
}
