.abs-full {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

p {
	padding: 0;
	margin: 0;
}

.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.overflow-auto {
	overflow: auto;
}

.overflow-y-auto {
	overflow-y: auto;
}

.pointer {
	cursor: pointer;
}
