@import './shared.scss';

:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Inter var experimental", "Inter var", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--font-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-color: rgba(255, 255, 255, 0.87);

  body {
    background-color: #242424;
  }
}

code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  text-wrap: nowrap;
}

a {
  font-weight: 500;
  color: #b9f8ff;
  text-decoration: inherit;
}

a:hover {
  color: #65f0ff;
}

hr {
  border: 0;
  border-top: 1px solid #353535;
  margin: 2em 0;
}

br {
  display: block;
  margin: 1em 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
  margin-top: 1.5em;
}

p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: inherit;
  transition: border-color 0.25s;
}

button:hover {
  // border-color: #646cff;
  border-color: #65f0ff;
}

button:focus,
button:focus-visible {
  outline: none;
}

select:focus,
select:focus-visible {
  outline: none;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
  outline: none;
}

svg.icon {
  fill: currentColor;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }

//   a:hover {
//     color: #747bff;
//   }

//   button {
//     background-color: #f9f9f9;
//   }
// }