@font-face {
  font-family: 'MTSans RegularCondensed';
  src: url('https://tanki-media-content.tanki.su/tanki-media/fonts/MT-sans/MTSans-RegularCondensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.mt-font {
  font-family: 'MTSans RegularCondensed', "Inter var experimental", "Inter var", Inter, -apple-system, sans-serif;
}