@mixin base-nice-scrollbar {
  &::-webkit-scrollbar {
    height: 10px;
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: 0 1px 2px 0px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
  }
}

@mixin nice-scrollbar {
  @include base-nice-scrollbar;

  &::-webkit-scrollbar-thumb {
    background: var(--background-secondary);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #464646;
  }
}

@mixin nice-scrollbar-transparent {
  @include base-nice-scrollbar;

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.05);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.1);
    ;
  }
}

.nice-scrollbar {
  @include nice-scrollbar;
}

.deep-nice-scrollbar {
  * {
    @include nice-scrollbar;
  }
}

.nice-scrollbar-transparent {
  @include nice-scrollbar-transparent;
}

.deep-nice-scrollbar-transparent {
  * {
    @include nice-scrollbar-transparent;
  }
}