@use './textColors.scss';
@use './variables.scss' as *;
@use './mixins.scss' as *;

.card {
  background-color: $background-secondary;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);

}

button.light {
  background-color: $background-secondary;
}

.text-center {
  text-align: center;
}

.small-bottom-margin {
  margin-bottom: 0em;
}

p.section-description {
  margin-top: 1em;
  margin-bottom: 1em;
}

.card {
  padding: 15px;
}

.hor-ver-x-small {
  @include less-x-small {
    flex-direction: column;
  }
}

.hor-ver-small {
  @include less-small {
    flex-direction: column;
  }
}

.grid {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;

  &.center {
    align-items: center;
    justify-content: center;
  }
}

.flex-1 {
  flex: 1;
}

.flex.gap-0 {
  gap: 0;
}

.flex.hor {
  flex-direction: row;
}

.flex.ver {
  flex-direction: column;
}

.flex.center {
  align-items: center;
  justify-content: center;
}

.margin-0 {
  margin: 0;
}

.relative {
  position: relative;
}

table.hover-highlight {
  tbody {
    tr {
      &:hover {
        background-color: #8787870d;
      }
    }
  }
}

.chart-container {
  position: relative;
  flex: 1;

  canvas {
    position: absolute;
  }
}

.center-container {
  margin: 0 auto;
  padding: 1rem;

  @include x-small {
    max-width: calc(480px - 1rem);
  }

  @include small {
    max-width: calc(768px - 2rem);
  }

  @include medium {
    max-width: calc(1024px - 3rem);
  }

  @include large {
    max-width: calc(1200px - 3rem);
  }
}

.hide-less-medium {
  @include less-medium {
    display: none;
  }
}

.show-less-medium {
  @include medium {
    display: none;
  }
}

.pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.mono-num {
  font-variant-numeric: tabular-nums;
}