@use './textColors.scss' as *;

$border: 1px solid rgba(240, 240, 240, 0.327);
$bar-color: #8181813e;

table {
  border-collapse: collapse;

  tr.skeleton {

    td:not(.ignore-skeleton),
    th:not(.ignore-skeleton) {
      border: none !important;
      width: auto !important;
      filter: none !important;

      &::after {
        content: '';
        display: block;
        height: 1.2rem;
        border-radius: 5px;
        @include text-skeleton($bar-color, #aaaaaa3e);
      }
    }
  }

  .border-left {
    border-left: $border;
  }

  .border-right {
    border-right: $border;
  }

  .border-top {
    border-top: $border;
  }

  .border-bottom {
    border-bottom: $border;
  }
}