@use './variables.scss' as *;

@mixin effect($blur-radius) {

  &.gold {
    color: #ffdd9c;
    filter: drop-shadow(0 0 $blur-radius #f73c08);
  }

  &.green {
    color: #e7ffde;
    filter: drop-shadow(0 0 $blur-radius #639e31);
  }

  &.red {
    color: #ffe7e7;
    filter: drop-shadow(0 0 $blur-radius #ce2021);
  }

  &.blue {
    color: #eff3ff;
    filter: drop-shadow(0 0 $blur-radius #5249c6);
  }

  &.yellow {
    color: #ffffe7;
    filter: drop-shadow(0 0 $blur-radius #deaa0a);
  }

  &.orange {
    color: #fffbe7;
    filter: drop-shadow(0 0 $blur-radius #d66d08);
  }

  &.light-blue {
    color: #d6fbff;
    filter: drop-shadow(0 0 $blur-radius #4a7697bc);
  }
}

@mixin effectColor() {

  &.gold {
    color: #ffdd9c;
  }

  &.green {
    color: #cdffbb;
  }

  &.red {
    color: #ffb6b6;
  }

  &.blue {
    color: #eff3ff;
  }

  &.yellow {
    color: #fdfdce;
  }

  &.orange {
    color: #fffbe7;
  }

  &.light-blue {
    color: #d6fbff;
  }
}

@mixin effectContrast() {

  &.gold {
    color: #ffdd9c;
  }

  &.green {
    color: #30D158;
  }

  &.red {
    color: #FF453A;
  }

  &.blue {
    color: #0A84FF;
  }

  &.yellow {
    color: #FFD60A;
  }

  &.orange {
    color: #fffbe7;
  }

  &.light-blue {
    color: #64D2FF;
  }
}

@mixin text-skeleton($color, $highlight-color) {
  background: linear-gradient(90deg, $color 8%, $highlight-color 18%, $color 33%);
  background-size: 200% 100%;
  animation: shine 1.8s infinite linear;

  // @keyframes shine {
  //   to {
  //     background-position: -200% 0;
  //   }
  // }
}

.text-effect {
  @include effect(0.4rem);
}

.without-shadow .text-effect {
  @include effectContrast();
  filter: none;
}

.disable-effect .text-effect {
  color: inherit;
  filter: none;
}

.card-main-info:not(.description) {
  font-weight: var(--bold-weight);
  font-size: 3rem;
  line-height: 1.1;
  transition: all 0.25s;
  transition-property: transform, filter;

  .mini-description {
    font-size: 1rem;
  }

  &:hover {
    $scale: 1.03;
    transform: scale($scale);
    // transform: scale3d($scale, $scale, $scale);
  }

  &:not(.loading):not(.error) {
    @include effect(1rem);
  }

  &.loading {
    @include text-skeleton(var(--font-color), #b8b8b8);
    color: transparent;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
  }

  &.error {
    color: #e41710;
  }

}

.card-main-info {
  &.description {
    font-weight: var(--medium-bold-weight);
    line-height: normal;
    margin-top: 5px;
    text-align: center;

    &.error {
      color: #e41710;
    }

    &.top {
      margin-top: 0;
      margin-bottom: 5px;
    }

    b {
      font-weight: var(--bold-weight);
    }

    &.top {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
}