svg {
	.hp-cell-parent {
		.background {
			fill: rgba(128, 128, 128, 0.11);
		}

		.upground {
			fill: none;
			stroke: black;
			stroke-width: 2px;
		}

		.cells {
			fill: none;

			.progress {
				fill: rgb(138, 188, 76);
			}

			.cell:hover {
				.progress {
					fill: rgb(238, 64, 116);
				}
			}
		}
	}
}
.cell {
	pointer-events: bounding-box;
	// .main {
	// 	fill: rgb(43, 46, 39);
	// }
}

.cell-info {
	font-size: 10px;
	font-family: sans-serif;
	text-anchor: middle;
	fill: black;
}
.render {
	fill: rgb(138, 188, 76);
}

.cell:hover {
	.render {
		fill: rgb(238, 64, 116);
	}
}

.axis {
	.tick {
		transition: visibility 0s, opacity 0.2s;
		&.hidden {
			visibility: hidden;
			opacity: 0;
		}
	}
}
