.reusable-table-root {
  contain: paint layout style;

  .fallback-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -2;

    contain: strict;
    background: var(--background-color, #480039);
    overflow: hidden;

    &.has-scroll {
      scrollbar-gutter: stable;
    }

    .sticky-background-fixer {
      display: none;
    }
  }

  .scroll {
    height: 100%;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
    isolation: isolate;

    .wrapper {
      will-change: transform;
    }

    .section {

      .sticky-background-fixer {
        position: absolute;
        inset: 0;
        pointer-events: none;

        .header-background {
          position: absolute;
          top: 0;
          width: 100%;
          z-index: -1;
          background-color: var(--background-color, #900071);
        }

        .footer-background {
          position: absolute;
          bottom: 0;
          width: 100%;
          z-index: -1;
          background-color: var(--background-color, #900071);
        }

      }

      .content-container {
        background-color: var(--background-color, #900071);
      }
    }
  }

  .fallback-scroll,
  .scroll {
    .section {
      position: relative;
      box-sizing: border-box;

      .header-container,
      .footer-container {
        position: absolute;
        left: 0;
        right: 0;
      }

      .header-container {
        top: 0;
      }

      .footer-container {
        bottom: 0;
        display: flex;
        flex-direction: column-reverse;
      }

      .content-container {
        position: relative;
      }
    }
  }

  .default-line-style {

    &.cell-line {
      height: 35px;
      z-index: 1;
      display: flex;
      align-items: center;
      padding: 0 10px;
      border-radius: 4px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    &.header-line {
      height: 20px;
      z-index: 2;
      padding: 10px 10px 3px 10px;
      height: 20px;

      h5 {
        margin: 0;
        padding: 0;
        line-height: 1;
      }
    }
  }
}