.reusable-table-root {
  contain: paint layout style;

  .fallback-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -2;

    contain: strict;
    background: var(--background-color, #480039);
    overflow: hidden;

    // background-color: #480039;

    &.has-scroll {
      scrollbar-gutter: stable;
    }
  }

  .scroll {
    height: 100%;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
    isolation: isolate;

    .wrapper {
      will-change: transform;
    }

    .section {

      .sticky-background-fixer {
        position: absolute;
        inset: 0;

        .header-background {
          position: absolute;
          top: 0;
          width: 100%;
          z-index: -1;
          background-color: var(--background-color, #900071);
        }

        .footer-background {
          position: absolute;
          bottom: 0;
          width: 100%;
          z-index: -1;
          background-color: var(--background-color, #900071);
        }

      }

      .content-container {
        background-color: var(--background-color, #900071);
      }
    }
  }

  .fallback-scroll,
  .scroll {
    .section {
      position: relative;
      box-sizing: border-box;

      .header-container,
      .footer-container {
        position: absolute;
        left: 0;
        right: 0;
      }

      .header-container {
        top: 0;
      }

      .footer-container {
        bottom: 0;
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}