@mixin vehicleLine {
  .line {
    display: flex;
    white-space: nowrap;
    height: 34px;
    align-items: center;
    border-top: 1px solid #d0d0d008;
    position: relative;
    cursor: pointer;
    margin: 0 3px;
    padding-left: 7px;
    padding-right: 3px;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      inset: 0 0px 0 0px;
      border-radius: 6px;
      z-index: -1;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::before {
        background: rgba(255, 255, 255, 0.1);
      }
    }


    &.selected::before {
      background: linear-gradient(90deg, #0182fada, #0182fa44 20%, #0182fa2c 50%, transparent) !important;
    }

    .type {
      width: 40px;
      min-width: 40px;
      display: flex;
      justify-content: center;

      color: white;
      fill: currentColor;

      svg {
        width: 14px;
      }
    }

    .flag {
      width: 30px;
      height: 20px;
      min-width: 30px;
      margin-right: 7px;
      background-size: 128px;
      background-repeat: no-repeat;
      user-select: none;
      pointer-events: none;
    }

    .level {
      width: 30px;
      min-width: 30px;
      text-align: center;
    }

    .name {
      display: flex;
      align-items: center;
      justify-content: left;
      overflow: hidden;
      flex: 1;

      .tank {
        width: 120px;
        min-width: 120px;
        height: 31px;
        user-select: none;
        pointer-events: none;
        background-repeat: no-repeat;
      }

      p {
        margin-left: -60px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: bold;
        font-size: 0.8em;
      }

      .highlight {
        color: var(--blue-thin-color);
      }
    }
  }
}